@prefix loci: <http://linked.data.gov.au/def/loci#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix dct: <http://purl.org/dc/terms/> .
@prefix void: <http://rdfs.org/ns/void#> .
@prefix prov: <http://www.w3.org/ns/prov#> .
@prefix dcat: <http://www.w3.org/ns/dcat#> .
@prefix vcard: <http://www.w3.org/2006/vcard/ns#> .

@prefix : <${LINKSET_URI}/statement/> .
@prefix l: <${LINKSET_URI}> .
@prefix s: <http://www.w3.org/1999/02/22-rdf-syntax-ns#subject> .
@prefix p: <http://www.w3.org/1999/02/22-rdf-syntax-ns#predicate> .
@prefix o: <http://www.w3.org/1999/02/22-rdf-syntax-ns#object> .
@prefix m: <http://linked.data.gov.au/def/loci/hadGenerationMethod> .
@prefix g: <${TARGET_URI}/address/> .
@prefix w: <http://www.opengis.net/ont/geosparql#sfWithin> .
@prefix i: <http://purl.org/dc/terms/isPartOf> .
@prefix c: <http://linked.data.gov.au/dataset/geofabric/contractedcatchment/> .
@prefix si: <${LINKSET_URI}/SpatialIntersection> .

